@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gotham Book";
  src: url(./assets//fonts/GothamSSm-Book_Web.woff2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gotham Book", sans-serif;
}

body {
  width: 100%;
}
